# Google Drive URLs for your files
MOVIES_FILE_URL=https://drive.google.com/uc?id=YOUR_MOVIES_FILE_ID
EMBEDDINGS_FILE_URL=https://drive.google.com/uc?id=YOUR_EMBEDDINGS_FILE_ID
MODEL_FILE_URL=https://drive.google.com/uc?id=YOUR_MODEL_FILE_ID

# TMDB API Key
TMDB_API_KEY="3d3b5cbc09e66409a5686373a4c110e7"

# Railway will automatically set PORT
