# Google Drive URLs for your files
MOVIES_FILE_URL=https://drive.google.com/uc?id=1tl61Cam-SKxVBoLcIIyqeBzo-bDSrido
EMBEDDINGS_FILE_URL=https://drive.google.com/uc?id=1tu0_ylVQMdeG38LP-LNP8xw8L5dj1_QY
MODEL_FILE_URL=https://drive.google.com/uc?id=1tks_k2-oEbDIlvHar_8ZJjgdPakHi6Ao

# TMDB API Key
TMDB_API_KEY="3d3b5cbc09e66409a5686373a4c110e7"

# Railway will automatically set PORT
